

{#添加信息页面#}
{% extends 'base.html' %}

{% block css %}
     .top-text{
            padding: 20px;
            text-align: center;
            font-size: 16;

{% endblock %}

{% block index %}

    <div class="col-md-6">
        <div class="top-text">
            <h3>添加书籍</h3>
        </div>
        <form action="" class="form-horizontal" method="post">
{#             不添加这个会报错#}
            {% csrf_token %}
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">书名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="title" id="title" placeholder="title" >
            </div>
{#              疑问为甚只有id的 时候捕捉不到，要添加name才能#}
          </div>
          <div class="form-group">
            <label for="inputAuthor" class="col-sm-2 control-label">作者</label>
            <div class="col-sm-10">
{#              <input type="text" class="form-control" id="author" placeholder="author">#}
                <select name="author" id="author" class="form-control">
                    {% for author in author_list %}
                        <option value="{{ author.pk }}">{{ author.aname }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDatetime" class="col-sm-2 control-label">出版日期</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name="datetime" id="datetime" placeholder="datetime">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPrice" class="col-sm-2 control-label">价格</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="price" id="price" placeholder="price">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPublish" class="col-sm-2 control-label">出版商</label>
            <div class="col-sm-10">
{#              <input type="text" class="form-control" id="publish" placeholder="publish">#}
                <select name="publishlist" id="publishlist" class="form-control">
                    {% for pulish in publish_list %}
                        <option value="{{ pulish.pk }}">{{ pulish.pname }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>


          <div class="form-group">
            <div class="text-center">
              <button type="submit" class="btn btn-default ">提交</button>
              <a href="/look/" class="btn btn-default ">返回</a>
            </div>
          </div>
        </form>
    </div>
{% endblock %}